*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
body {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #e0e3eb;
}
.container {
overflow: scroll;
 
  width: 300px;
  padding: 0px;
  background: #fff;
  border-radius: 0px 0px 5px 5px;

  
}
.screen {
  height: 100px;
  width: 100%;
  border: none;
  text-align: right;
  font-size: 30px;
  color: rgb(246, 246, 248);
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(221, 9, 9, 0.867);
 
}
.buttons {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;

}
.buttons button {
   
 text-align: center;
 width:50px;
 height:50px;
  border-radius:50px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #eeeeeede;
  cursor: pointer;
}

.opt {
  color: #0a6cc3e9;

}
