*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}
body {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e3eb;
 
}
.container {

width:300px;
background: #fff;
border-radius: 5px 5px 5px 5px;
border :1px solid red;
padding-bottom: 10px;
 
 
}
.screen {
  height: 100px;
  width: 100%;
  border: none;
  text-align: right;
  font-size: 30px;
  color: rgb(246, 246, 248);
  border-radius: 5px 5px 0px 0px;
  overflow:hidden;
  background-color: rgba(221, 9, 9, 0.867);

}
.buttons {
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px; 
    padding: 20px 0px 0 20px;
   

}
.buttons button {
   
 text-align: center;
 width:50px;
 height:50px;
  border-radius:50px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #eeeeeede;
  cursor: pointer;
 
}

.opt {
  color: #0a6cc3e9;

}

@media (min-width: 250px) and (max-width: 380px) {
  .container {
    max-width: 100%; 
    border-radius: 0px;
    padding: 10 0px;
  }
  .screen {
    height: 70px; 
    font-size: 20px; 
    border-radius: 0px;
  }
  .buttons button {
    width: 40px; 
    height: 40px;
    font-size: 16px;
  }
}




